:root {
  --color-highlight: rgb(247, 148, 29);
  --color-highlight--dark: #ec5f00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-grey: #121212;
  --padding-navbar: 18rem;
  --gradient-navbar: rgba(0,0,0,0.5), rgba(0,0,0,0);
  --font-size--md: 1.6rem;
  --font-size--lg: 2.4rem;
  --font-size--xl: 3.2rem;
  --font-size--xxl: 5.4rem;
  --font-size--xxxl: 9.6rem;
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2.5rem;
  --gap-lg: 5rem;
  --gap-xl: 8rem;
  --gap-xxl: 12rem;
  --page-margin: 3rem;
  --btn-shadow-default: 0 2px 5px rgba(0, 0, 0, 0.15);
  --btn-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 0.25rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  height: 100vh;
  overflow: hidden;
  z-index: -1; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 59.375em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Aktiv-grotesk-extended", sans-serif; }

.heading--primary, .heading--secondary {
  text-transform: uppercase; }

.heading--primary {
  font-size: var(--font-size--xxxl);
  text-align: center; }

.heading--secondary {
  font-size: var(--font-size--xxl); }

.heading--tertiary {
  font-size: var(--font-size--xl); }

.heading--quarternery {
  font-size: var(--font-size--lg); }

.paragraph {
  font-size: var(--font-size-md); }

.container {
  max-width: var(--width-xl);
  margin: 0 auto;
  padding: var(--page-margin); }

.mt--xl {
  margin-top: var(--gap-xl) !important; }

.mt--lg {
  margin-top: var(--gap-lg) !important; }

.mt--md {
  margin-top: var(--gap-md) !important; }

.mt--sm {
  margin-top: var(--gap-sm) !important; }

.mt--xs {
  margin-top: var(--gap-xs) !important; }

.mb--xl {
  margin-bottom: var(--gap-xl) !important; }

.mb--lg {
  margin-bottom: var(--gap-lg) !important; }

.mb--md {
  margin-bottom: var(--gap-md) !important; }

.mb--sm {
  margin-bottom: var(--gap-sm) !important; }

.mb--xs {
  margin-bottom: var(--gap-xs) !important; }

.pt--xl {
  padding-top: var(--gap-xl) !important; }

.pt--lg {
  padding-top: var(--gap-lg) !important; }

.pt--md {
  padding-top: var(--gap-md) !important; }

.pt--sm {
  padding-top: var(--gap-sm) !important; }

.pt--xs {
  padding-top: var(--gap-xs) !important; }

.pb--xl {
  padding-bottom: var(--gap-xl) !important; }

.pb--lg {
  padding-bottom: var(--gap-lg) !important; }

.pb--md {
  padding-bottom: var(--gap-md) !important; }

.pb--sm {
  padding-bottom: var(--gap-sm) !important; }

.pb--xs {
  padding-bottom: var(--gap-xs) !important; }

.btn__wrapper {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  margin-top: var(--gap-md);
  background-color: var(--color-highlight);
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-base);
  box-shadow: var(--btn-shadow-default);
  transition: transform 0.25s; }

.btn:hover {
  background-color: var(--color-highlight--dark);
  transform: translateY(-2px); }

.navbar {
  position: fixed;
  width: 100%;
  height: 6rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 var(--padding-navbar); }
  .navbar__logo {
    height: 2.4rem; }

.footer {
  display: block; }
  .footer__container {
    background-color: var(--color-black);
    width: 100%;
    height: 30vh; }

.scroll__container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory; }

.scroll__area {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .section--1 {
    background-image: url(../../../assets/img/img--1.png); }
  .section--2 {
    background-image: url(../../../assets/img/img--2.png); }
  .section--3 {
    background-image: url(../../../assets/img/img--3.png); }
  .section--4 {
    background-image: url(../../../assets/img/img--4.png); }
  .section--5 {
    background-image: url(../../../assets/img/img--5.png); }
  .section--6 {
    background-image: url(../../../assets/img/img--6.png); }
  .section--7 {
    background-color: var(--color-dark-grey); }

.container--content {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--padding-navbar); }

.container--text {
  padding-left: 3.2rem; }

.video {
  position: absolute;
  z-index: -1;
  filter: brightness(75%); }
  .video--2 {
    top: 15;
    right: 0;
    width: 60vw;
    padding-right: 18rem; }
  .video--3, .video--4, .video--5, .video--6, .video--7 {
    width: 75vw;
    height: auto; }
